In [1]:
import glob
from keras.models import Sequential, load_model
import numpy as np
import pandas as pd
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
import matplotlib.pyplot as plt
import keras as k

In [2]:
df = pd.read_csv (r'E:\\ABISHA\\KIDNEY_DATASET\\kidney_disease.csv')
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
df.shape

(400, 26)

In [5]:
columns_2_retain=['sg','al','sc','hemo','pcv','wc','rbc','htn','classification']

In [6]:
#Drop the columns that are not in columns_2_retain

In [9]:
df=df.drop([col for col in df.columns if not col in columns_2_retain], axis=1)

In [10]:
#missing values

In [11]:
df=df.dropna(axis=0)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 2 to 399
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sg              195 non-null    float64
 1   al              195 non-null    float64
 2   rbc             195 non-null    object
 3   sc              195 non-null    float64
 4   hemo            195 non-null    float64
 5   pcv             195 non-null    object
 6   wc              195 non-null    object
 7   htn             195 non-null    object
 8   classification  195 non-null    object
dtypes: float64(4), object(5)
memory usage: 15.2+ KB

In [17]:
df.head()

      sg   al  rbc   sc  hemo  pcv  wc  htn  classification
2  1.010  2.0    1  1.8   9.6   13  61    0               0
3  1.005  4.0    1  3.8  11.2   14  53    1               0
4  1.010  2.0    1  1.4  11.6   17  59    0               0
7  1.015  2.0    1  1.1  12.4   25  55    0               0
8  1.015  3.0    1  1.9  10.8   15  78    1               0